
<div class="wrapper2">

  <h1 class="aboutApp"><a>Add records.</a></h1>
  <h3 class="banner">Add your records of a professor/degree/module.</h3>
  
  
  </div>

      <div class="grid-container">
        
    <div class="grid-item">
        <div class="items">
          <div class="items-head">
            <p>Add a professor</p>
            <hr>
          </div>
          
          <div class="items-body">
            <div class="items-body-content">
              <span><a class="add_recs_log" href="/professors/new">Add a professor</a>
              </span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span>How to proceed</span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span>Click/Tap on the above button to get 
                redirected to the professor addition form and 
                add the professor if they don't already exist
                in the professors list.
              </span>
              <i class="fa fa-angle-right"></i>
            </div>
          
          </div>
        </div>
      </div>

    <div class="grid-item">
        <div class="items">
          <div class="items-head">
            <p>Add a degree</p>
            <hr>
          </div>
          
          <div class="items-body">
            <div class="items-body-content">
              <span><a class="add_recs_log" href="/professors/new">Add a professor</a>
              </span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span>How to proceed</span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span>Click/Tap on the above button to get 
                redirected to the professor addition form and 
                add the professor if they don't already exist
                in the professors list.</span>
              <i class="fa fa-angle-right"></i>
            </div>

          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="items">
          <div class="items-head">
            <p>Add a module</p>
            <hr>
          </div>
          
          <div class="items-body">
            <div class="items-body-content">
              <span><a class="add_recs_log" href="/professors/new">Add a professor</a>
              </span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span>How to proceed</span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span>Click/Tap on the above button to get 
                redirected to the professor addition form and 
                add the professor if they don't already exist
                in the professors list.</span>
              <i class="fa fa-angle-right"></i>
            </div>

          </div>
        </div>
      </div>
      </div>
  
      


