


<main class="mainPageMain">
    <center><h3 class="welcomeInfo">
        This is a web application where students can share a review for their professors with others.This is not 
        an official service of the university.It's built for students by students, and primarily aims to improve
        the experience of students,and at the same time provide some food for thought for our professors as well through 
        respectful reviews
    </h3></center>



        <div class="illustrations-wrapper">
        <%= image_tag "illustration1.svg" ,:class => "img_preview" %>
        <%= image_tag "illustration3.svg" ,:class => "img_preview" %>
        <%= image_tag "illustration2.svg" ,:class => "img_preview" %>


    </div>

    <div class="jumbotron">
    <h3 class="jumbotron-display">Express your opinion ,help everyone!</h3>
    <p class="lead">Give honest reviews of your professors and help other students adjust easier to university life.</p>
  <hr class="my-4">
  <p>Find out more about this project by reading the website's information page.</p>
  <a class="jumbotron-button" href="/info">Find out more</a>
    </div>



    
</main>


