


<main class="mainPageMain">
    <center><h3 class="welcomeInfo">
        This is a web application where students can share a review for their professors with others.This is not 
        an official service of the university.It's built for students by students, and primarily aims to improve
        the experience of students,and at the same time provide some food for thought for our professors as well through 
        respectful reviews
    </h3></center>

        <div class="steps-container">
        <h3>The steps to review your professor</h3>
        <ul class="steps">
            <li><a>Create an account</a></li>
            <li><a>Search for a professor</a></li>
            <li><a>Write and post an anonymous review</a></li>

        </ul>
        </div>

        <div class="illustrations-wrapper">
        <%= image_tag "illustration1.svg" ,:style => "width:300px;position:relative;
        top:0px;left:40px;margin-left:100px;" %>
        <%= image_tag "illustration3.svg" ,:style => "width:300px;position:relative;
        top:0px;left:40px;margin-left:100px;" %>
        <%= image_tag "illustration2.svg" ,:style => "width:300px;position:relative;
        top:0px;left:40px;margin-left:100px;" %>


    </div>


    
</main>


