// Place all the styles related to the Info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Source+Sans+Pro:wght@300&display=swap');


h2{
    font-family: 'MuseoModerno', cursive;
}

h3{
  text-align: center;
  margin-top: 205px;
  font-family: 'MuseoModerno', cursive;
  width: 85%;
}


.banner{
  text-align: center;
    margin-top: 205px;
    font-family: 'MuseoModerno', cursive;
    width: 100%;
}
.info{
  width: 70%;
  text-align: center;
}

.wrapper2{
  margin-top: -147px;
}