
<div class="wrapper2">

<h1 class="aboutApp"><a>About this app</a></h1>
<h3 class="banner">Some important information about this web application</h3>


</div>


<center><p class="info">The users of this website are completely anonymous.No name or username will appear next to any review
,but be 100% sure that all the reviews are genuine and none of them is created at random.
As stated in the main page,this is not a service created or funded by the university,hence is not an official service 
of the University.It's only built for providing students some essential information about professors.
The users of this website are completely anonymous.No name or username will appear next to any review
,but be 100% sure that all the reviews are genuine and none of them is created at random.
As stated in the main page,this is not a service created or funded by the university,hence is not an official service 
of the University.It's only built for providing students some essential information about professors.
The users of this website are completely anonymous.No name or username will appear next to any review
,but be 100% sure that all the reviews are genuine and none of them is created at random.
As stated in the main page,this is not a service created or funded by the university,hence is not an official service 
of the University.It's only built for providing students some essential information about professors. </p></center>

